<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:websocket="http://www.springframework.org/schema/websocket"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/websocket
       http://www.springframework.org/schema/websocket/spring-websocket.xsd">

  <context:property-placeholder location="classpath*:config/jdbc.properties"/>

  <!--<websocket:message-broker application-destination-prefix="/test">-->
    <!--<websocket:stomp-endpoint path="/endpoint">-->
      <!--<websocket:sockjs/>-->
    <!--</websocket:stomp-endpoint>-->
    <!--<websocket:simple-broker prefix="/queue, /topic"/>-->
  <!--</websocket:message-broker>-->

  <!--<websocket:message-broker application-destination-prefix="/app">-->
    <!--<websocket:stomp-endpoint path="/ws">-->
      <!--<websocket:sockjs/>-->
    <!--</websocket:stomp-endpoint>-->
    <!--<websocket:simple-broker prefix="/topic"/>-->
  <!--</websocket:message-broker>-->


  <!--<websocket:handlers>-->
    <!--<websocket:mapping path="/echo" handler="myHandler"/>-->
    <!--<websocket:handshake-interceptors>-->
      <!--<bean class="com.benjamin.todos.web.socket.HandShackInterceptor"></bean>-->
    <!--</websocket:handshake-interceptors>-->
    <!--&lt;!&ndash;<websocket:sockjs heartbeat-time="5000" websocket-enabled="true"></websocket:sockjs>&ndash;&gt;-->
  <!--</websocket:handlers>-->

  <!--<bean id="myHandler" class="com.benjamin.todos.web.socket.BaseSocket"></bean>-->
</beans>